<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }} - Vet Practice Management</title>
</head>

<body>
    <!-- BEGIN main container -->
    <main>
        <header>
            <h1>Vet Practice Management</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/animals/">Animals</a></li>
                <li><a href="/vets/">Vets</a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li><a href="/animals/new">Add Animal</a></li>
                <li><a href="/vets/new">Add Vet</a></li>
            </ul>
        </nav>


        <!-- BEGIN main content container -->
        <main>
            <!-- BEGIN Jinja code block -->
            {% block content %} {% endblock %}
            <!-- END Jinja code block -->
        </main>
        <!-- END main content container -->

        <footer>
            <h2>Vet Practice Management</h2>
            <p>Call us on 07922175003 or email us at <a href="mailto:admin@reallygoodvets.com?subject=Mail from Our Site">admin@reallygoodvets.com</a></p>
        </footer>

    </main>
    <!-- END main container -->
</body>

</html>